

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Manage User
        </button>
        
      </h5>
      <ng-template #rt let-r="result" let-t="term">
          <img [src]="avatarPath + r['picturePath']" class="mr-1" style="width: 16px">
          <ngb-highlight [result]="r.firstName" [term]="t"></ngb-highlight>
        </ng-template>
             
        <input id="typeahead-template" class="user-input" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search User"
          [resultTemplate]="rt" [inputFormatter]="formatter" />
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <!-- Content of section 1 -->
        <div class="row">
          <div class="col-md-12">
            <exam-hrmn-new-user></exam-hrmn-new-user>
          </div>
        </div>
        <div class="row">
        
          <div class="col-md-7">
        
            <exam-hrmn-user-list></exam-hrmn-user-list>
        
          </div>
        
          <div class="col-md-5">
        
            <exam-hrmn-user-details *ngIf="selectedUser; else infoMessage" [user]="selectedUser"></exam-hrmn-user-details>
        
            <ng-template #infoMessage>
              <p>Please select a User!</p>
            </ng-template>
        
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Manage Permissions
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <h3>Not yes implemented</h3>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Manage Roles
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <h3>Soon available...sorry for the inconvenience</h3>
      </div>
    </div>
  </div>
</div>