:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.card img {
    padding: 15px
}
#typeahead-template{
    width: 150px;
}