<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New User</button>
  </div>
</div> -->
<hr>
<div class="row">
  <div class="col-xs-12">
    <exam-hrmn-user *ngFor="let userElm of users" [user]="userElm">
    </exam-hrmn-user>
  </div>

  <!-- With TABLE -->
  <!-- <div #tableUsers>
    <ngx-datatable id="" 
                  class="material expandable" 
                  [rows]="users"  
                  [columnMode]="'force'"
                  [headerHeight]="71"
                  [rowHeight]="20"
                  [scrollbarV]="true"
                  [scrollbarH]=false
                  [selected]="selected"
                  [selectionType]="'cell'"
                  (activate)="click($event)"
                  #tableUsers>


      <ngx-datatable-column name="First Name" prop="firstName" [minWidth]="80" [maxWidth]="200">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
          <span class="">{{value }}</span>
        </ng-template>
      </ngx-datatable-column>
  
  
  
  
      <ngx-datatable-column name="Last Name" prop="lastName" [minWidth]="100" [maxWidth]="250">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
            <span class="">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
  
    </ngx-datatable>
  </div> -->
</div>